:root{
    --bg-darker:#2c3e50;
    --bg-primary:#1abc9c;
    --dark:#333333;

    --bg-foot-top:#3a546d;
    --bg-foot-bottom:#2c3e50;
}

.star::before,
.star::after{
    content: "";
    display: inline-block;
    width: 120px;
    height: 3px;
}


/*Header*/

#app_header{
    background-color: var(--bg-darker);

}


/*Main*/

#app_main .banner,
#app_main .about{
    background-color: var(--bg-primary);
}

.banner .star::after,
.banner .star::before{
    background-color: white
}

/*Portfolio*/

.portfolio .star::after,
.portfolio .star::before{
    background-color: black;
}

/*About*/

.about .star::after,
.about .star::before{
    background-color: white
}

/*Contact*/
.contact .btn{
    background-color: var(--bg-primary);
}

.contact .star::after,
.contact .star::before{
    background-color: black;
}

/*Footer*/

#app_footer .footer_top{
    background-color: var(--bg-foot-top);
}

#app_footer .footer_bottom{
    background-color: var(--bg-foot-bottom);
}